/node_modules
/public/storage
/public/hot
/public/pma
/public/js
/storage/*.key
/storage
/vendor
/.idea


/public/css
/public/mix-manifest.json
npm-debug.log
yarn-error.log
Homestead.json
Homestead.yaml
.env
laravel-echo-server.json
laravel-echo-server.lock
_ide_helper.php
.phpstorm.meta.php
.phpunit.result.cache
/public/uploads/

#\.env\.example

/storage/framework/views

# OSX
#
.DS_Store
