/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.editorconfig
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/pma
/public/js
/storage
/.idea
/public/css/app.css
/public/css/dark.css
/public/css/messages.css
/public/css/calls.css
/public/mix-manifest.json
laravel-echo-server.json
laravel-echo-server.lock
_ide_helper.php
/public/uploads/
.phpstorm.meta.php
#\.env\.example

/storage/framework/views

# OSX
#
.DS_Store

